<h4 class="text-center">Date Range</h4>
<div class="row">
  <div class="small-12 large-6 columns">
    <label>From
      <input  foundation-date-picker ng-model="date.from" type="text">
    </label>
  </div>
  <div class="small-12 large-6 columns">
    <label>To
      <input foundation-date-picker ng-model="date.to" type="text">
    </label>
  </div>
</div>
<div class="row">
  <div class="small-6 columns expand">
    <a class="small button expand" ng-click="ok()">Ok</a>
  </div>
  <div class="small-6 columns">
    <a class="small button expand" ng-click="cancel()">Cancel</a>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
