<dl class="sub-nav">
  <dt>Time:</dt>
  <dd ng-class="isActiveTime(ALL)" ng-click="showAll()"><a>{{ ALL }}</a></dd>
  <dd ng-class="isActiveTime(DAY)" ng-click="showThisDay()"><a>{{ DAY }}</a></dd>
  <dd ng-class="isActiveTime(WEEK)" ng-click="showThisWeek()"><a>{{ WEEK }}</a></dd>
  <dd ng-class="isActiveTime(MONTH)" ng-click="showThisMonth()"><a>{{ MONTH }}</a></dd>
  <dd ng-class="isActiveTime(RANGE)"><a ng-click="openDateRangeModal()">{{ RANGE }}</a></dd>
</dl>
<dl class="sub-nav">
  <dt>Branch:</dt>
  <dd ng-class="isActiveBranch(ALL)"><a ng-click="setActiveBranch(ALL)">{{ ALL }}</a></dd>
  <dd ng-class="isActiveBranch(BAGUIO)"><a ng-click="setActiveBranch(BAGUIO)">{{ BAGUIO }}</a></dd>
  <dd ng-class="isActiveBranch(BACOLOD)"><a ng-click="setActiveBranch(BACOLOD)">{{ BACOLOD }}</a></dd>
  <dd ng-class="isActiveBranch(INDIA)"><a ng-click="setActiveBranch(INDIA)">{{ INDIA }}</a></dd>
</dl>
<dl class="sub-nav">
  <dt>Industry:</dt>
  <dd ng-class="isActiveIndustry(ALL)"><a ng-click="setActiveIndustry(ALL)">{{ ALL }}</a></dd>
  <dd ng-class="isActiveIndustry(MF)"><a ng-click="setActiveIndustry(MF)">{{ MF }}</a></dd>
  <dd ng-class="isActiveIndustry(AU)"><a ng-click="setActiveIndustry(AU)">{{ AU }}</a></dd>
</dl>
<div class="leadscore-table small-12 columns">
  <div class="row leadscore-table-header text-center">
    <div class="small-4 medium-3 columns">Scorer</div>
    <div class="show-for-medium-up medium-3 columns">Industry</div>
    <div class="small-4 medium-3 columns">Processing Time</div>
    <div class="small-4 medium-3 columns">Call Count</div>
  </div>
  <div class="row leadscore-table-row" ng-repeat="score in filteredScores">
    <div class="small-4 medium-3 columns"><a>{{ score.scorer }}</a></div>
    <div class="show-for-medium-up medium-3 columns">{{ score.industry }}</div>
    <div class="small-4 medium-3 columns text-right">{{ score.total_processing_time }}</div>
    <div class="small-4 medium-3 columns text-right">{{ score.call_count }}</div>
  </div>
</div>
