<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd ng-class="isActive(ALL)" ng-click="showAll()"><a>All</a></dd>
  <dd ng-class="isActive(DAY)" ng-click="showThisDay()"><a>This Day</a></dd>
  <dd ng-class="isActive(WEEK)" ng-click="showThisWeek()"><a>This Week</a></dd>
  <dd ng-class="isActive(MONTH)" ng-click="showThisMonth()"><a>This Month</a></dd>
  <dd ng-class="isActive(RANGE)"><a ng-click="openDateRangeModal()">Date Range</a></dd>
</dl>
<div class="leadscore-table small-12 columns">
  <div class="row leadscore-table-header text-center">
    <div class="small-4 medium-3 columns">Scorer</div>
    <div class="show-for-medium-up medium-3 columns">Industry</div>
    <div class="small-4 medium-3 columns">Processing Time</div>
    <div class="small-4 medium-3 columns">Call Count</div>
  </div>
  <div class="row leadscore-table-row" ng-repeat="score in scores">
    <div class="small-4 medium-3 columns"><a>{{score.scorer}}</a></div>
    <div class="show-for-medium-up medium-3 columns">{{score.industry}}</div>
    <div class="small-4 medium-3 columns text-right">{{score.total_processing_time}}</div>
    <div class="small-4 medium-3 columns text-right">{{score.call_count}}</div>
  </div>
</div>
