<div class="row collapse">
  <div class="small-11 columns">
    <input type="text" ng-model="query" placeholder="Search">
  </div>
  <div class="small-1 columns">
    <span class="postfix"><i class="fa fa-search"></i></span>
  </div>
</div>
<dl class="sub-nav row">
  <dt>Time:</dt>
  <dd ng-class="isActiveTime(ALL)" ng-click="setActiveTime(ALL)"><a>{{ ALL }}</a></dd>
  <dd ng-class="isActiveTime(DAY)" ng-click="setActiveTime(DAY)"><a>{{ DAY }}</a></dd>
  <dd ng-class="isActiveTime(WEEK)" ng-click="setActiveTime(WEEK)"><a>{{ WEEK }}</a></dd>
  <dd ng-class="isActiveTime(MONTH)" ng-click="setActiveTime(MONTH)"><a>{{ MONTH }}</a></dd>
  <dd ng-class="isActiveTime(RANGE)"><a ng-click="setActiveTime(RANGE)">{{ RANGE }}</a></dd>
</dl>
<dl class="sub-nav row">
  <dt>Branch:</dt>
  <dd ng-class="isActiveBranch(ALL)"><a ng-click="setActiveBranch(ALL)">{{ ALL }}</a></dd>
  <dd ng-repeat="filter in branchFilters" ng-class="isActiveBranch(filter)">
    <a ng-click="setActiveBranch(filter)">{{ filter }}</a>
  </dd>
</dl>
<dl class="sub-nav row">
  <dt>Industry:</dt>
  <dd ng-class="isActiveIndustry(ALL)"><a ng-click="setActiveIndustry(ALL)">{{ ALL }}</a></dd>
  <dd ng-repeat="filter in industriesFilters" ng-class="isActiveIndustry(filter)">
    <a ng-click="setActiveIndustry(filter)">{{ filter }}</a>
  </dd>
</dl>
<div ng-hide="loading" class="leadscore-table small-12 columns">
  <div class="row leadscore-table-header text-center">
    <div class="small-6 medium-3 columns">Scorer</div>
    <div class="small-3 medium-2 columns">Date</div>
    <div class="show-for-medium-up small-4 medium-2 columns">Process Time</div>
    <div class="show-for-medium-up small-4 medium-2 columns">Ave Process Time</div>
    <div class="show-for-medium-up small-4 medium-2 columns">Total Call Duration</div>
    <div class="small-3 medium-1 columns">Call Count</div>
  </div>
  <div class="row leadscore-table-row" ng-repeat="score in filteredScores | filter: query">
    <div class="small-6 medium-3 columns"><a>{{ score.scorer }}</a></div>
    <div class="small-3 medium-2 columns">{{ score.date |  date:"MMM dd, yyyy" }}</div>
    <div class="show-for-medium-up small-4 medium-2 columns text-right">{{ score.totalProcessingTime | number }}</div>
    <div class="show-for-medium-up small-4 medium-2 columns text-right">{{ score.averageProcessingTime | number }}</div>
    <div class="show-for-medium-up small-4 medium-2 columns text-right">{{ score.totalCallDuration | number }}</div>
    <div class="small-3 medium-1 columns text-right">{{ score.callCount | number }}</div>
  </div>
</div>
<div ng-show="loading" class="leadscore-table small-12 columns">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div ng-hide="loading" class="small-12 columns leadscore-summary">
  <div class="small-6 columns">
    <label><strong>Totals</strong></label>
    <div class="small-6 columns">
      <label>Processing Time:</label><pre>{{ getTotalProcessingTime() | number }}</pre>
    </div>
    <div class="small-6 columns end">
      <label>Call Count:</label><pre>{{ getTotalCallCount() | number }}</pre>
    </div>
  </div>
  <div class="small-6 columns">
    <label><strong>Average</strong></label>
    <div class="small-6 columns">
      <label>Processing Time:</label><pre>{{ getAverageProcessingTime() | number:2 }}</pre>
    </div>
    <div class="small-6 columns end">
      <label>Call Count:</label><pre>{{ getAverageCallCount() | number:2 }}</pre>
    </div>
  </div>
</div>
<div class="small-12 columns">
  <a class="button right" ng-csv="filteredScores" filename="Scores.csv" csv-header="getCsvHeader()">Export to CSV</a>
</div>
