<div class="medium-12 columns">
  <p ng-show="file">{{file.name}} {{fileDisplaySize}}</p>
  <p ng-hide="file">No file is selected...</p>
    <div class="row">
      <div id="file-output">
        <div id="file-output-content" class="medium-12 columns">
          <div ng-show="file" id="loading">
            Loading...
          </div>
        </div>
      </div>
    </div>
  <form action="/api/file/upload" enctype="multipart/form-data" method="post">
    <label class="button" id="leadscore-file-input-label" for="leadscore-file-input">
      Select file...
    </label>
    <input type="file" name="csv" id="leadscore-file-input" />
    <button type="submit" id="leadscore-upload-button">Upload</button>
  </form>
</div>
