<div class="medium-12 columns">
  <p ng-show="file">{{file.name}} {{fileDisplaySize}}</p>
  <p ng-hide="file">No file is selected...</p>
    <div class="row">
      <div id="file-output">
        <div id="file-output-content" class="medium-12 columns">
          <div ng-show="file" id="loading">
            Loading...
          </div>
        </div>
      </div>
    </div>
  <form>
    <label class="button" id="leadscore-file-input-label" for="leadscore-file-input">
      Select file...
    </label>
    <button id="leadscore-upload-button">Upload</button>
    <input type="file" id="leadscore-file-input" />
  </form>
</div>
