<div class="medium-12 columns">
  <p>{{file.name}}  {{fileDisplaySize}}</p>
  <ul class="small-block-grid-1">
    <li>
    <div class="row">
      <pre>
      <div id="file-output" class="medium-12 columns panel">File preview</div>
      </pre>
    </div>
    </li>
  </ul>
  <form>
    <label class="button" id="leadscore-file-input-label" for="leadscore-file-input">
      Select file...
    </label>
    <button id="leadscore-upload-button">Upload</button>
    <input type="file" id="leadscore-file-input" />
  </form>
</div>
